{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="container">
    <div class="row">
        <div class="col-6 mb-5">
            {{ form_row(form.nom, {'label': 'Nombre de la obra'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.tipus, {'label': 'Tipo'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.client, {'label': 'Cliente'}) }}
        </div>
        <div class="col-2 mb-5">
            {{ form_row(form.estat, {'label': 'Estado'}) }}
        </div>
        <div class="col-2 mb-5">
            {{ form_row(form.numObra_seguiment, {'label': 'Num. seg.'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.portadaFile, {'label': 'Portada (Imagen)'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.nuevo_pdf, {'label': 'Subir nuevo archivo PDF'}) }}
        </div>
    </div>
</div>
{{ form_widget(form) }}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <a class="btn btn-rosa" href="{{ path('app_obra_index') }}">Volver</a>
                <button class="btn btn-outline-success">{{ button_label|default('Guardar') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
