{% extends 'base_back.html.twig' %}

{% block title %}Gestión de Clientes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class="fs-3 py-5">Gestionar Clientes</h2>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <form method="get" role="search" class="d-flex">
                        <input type="search" class="form-control rounded-start-pill" name="q"
                               aria-label="Search" placeholder="Buscar cliente...">
                        <button type="submit" class="btn btn-rosa rounded-end-pill"><i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover text-center">
                    <thead class="table-warning">
                    <tr>
                        <th class="d-none">ID</th>
                        <th class="d-none">Nombre de usuario</th>
                        <th class="d-none">Contraseña</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th class="d-none">Roles</th>
                        <th>Teléfono</th>
                        <th class="d-none">Dirección</th>
                        <th class="d-none">Numero de tarjeta</th>
                        <th class="d-none">Seudonimo</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td class="d-none">{{ client.id }}</td>
                            <td class="d-none">{{ client.nomUsuari }}</td>
                            <td class="d-none">{{ client.contrasenya }}</td>
                            <td>{{ client.nom }}</td>
                            <td>{{ client.cognom }}</td>
                            <td>{{ client.correu }}</td>
                            <td class="d-none">{{ client.rols ? client.rols|join(', ') : '' }}</td>
                            <td>{{ client.telef }}</td>
                            <td class="d-none">{{ client.direccio }}</td>
                            <td class="d-none">{{ client.numTarj }}</td>
                            <td class="d-none">{{ client.pseudonim }}</td>
                            <td>
                                <a class="btn btn-primary me-2" href="{{ path('app_client_edit', {'id': client.id}) }}"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-success me-2" href="{{ path('app_client_show', {'id': client.id}) }}"><i class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="12">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

