{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="container">
    <div class="row">
        <div class="col-3 mb-5">
            {{ form_row(form.tipus, {'label': 'Tipo'}) }}
        </div>
        <div class="col-3 mb-5">
            {{ form_row(form.num_factura, {'label': 'Nº factura'}) }}
        </div>
        <div class="col-3 mb-5">
            {{ form_row(form.client, {'label': 'Nombre de cliente'}) }}
        </div>
        <div class="col-3 mb-5">
            {{ form_row(form.obra, {'label': 'Título de la obra'}) }}
        </div>
        <div class="col-3 mb-5">
            {{ form_row(form.preu, {'label': 'Preu'}) }}
        </div>
        <div class="col-3 mb-5">
            {{ form_row(form.quantitat, {'label': 'Quantitat'}) }}
        </div>
    </div>
</div>
{{ form_widget(form) }}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <a class="btn btn-rosa" href="{{ path('app_factura_index') }}">Volver</a>
                <button class="btn btn-outline-success">{{ button_label|default('Actualizar') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
