{% extends 'base_back.html.twig' %}

{% block title %}Gestionar Facturas{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Lista de facturas</h2>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ path('app_factura_new') }}" class="btn btn-blau"><i class="bi bi-plus-square"></i>
                        Añadir factura</a>
                    <form method="get" role="search" class="d-flex">
                        <input type="search" class="form-control rounded-start-pill" name="q"
                               aria-label="Search" placeholder="Bucar factura...">
                        <button type="submit" class="btn btn-rosa rounded-end-pill"><i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover text-center">
                    <thead class="table-danger">
                    <tr>
                        <th class="d-none">Id</th>
                        <th class="d-none">Tipo</th>
                        <th>Nº Factura</th>
                        <th>Seudónimo</th>
                        <th>Título</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td class="d-none">{{ factura.id }}</td>
                            <td class="d-none">{{ factura.tipus }}</td>
                            <td>{{ factura.numFactura }}</td>
                            <td>
                                {% if factura.client %}
                                    {{ factura.client.pseudonim }}
                                {% else %}
                                    <span class="text-danger">Sin cliente</span>
                                {% endif %}
                            </td>
                            <td>
                                {% for obra in factura.obres %}
                                    {{ obra.nom }}{% if not loop.last %}, {% endif %}
                                {% else %}
                                    Sin obras asociadas
                                {% endfor %}
                            </td>
                            <td>
                                <a class="btn btn-success" href="{{ path('app_factura_show', {'id': factura.id}) }}"><i
                                            class="bi bi-eye"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center py-5">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
