{% extends 'base_back.html.twig' %}

{% block title %}Crear Usuarios{% endblock %}

{% block body %}
    <div class="container">
        <h1>Creando un usuario</h1>

        {{ form_start(form) }}
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4 mt-3">
                {{ form_row(form.cognom) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3">
                {{ form_row(form.nom_usuari) }}
            </div>
            <div class="col-md-4 mt-3 justify-content-center">
                {{ form_row(form.contrasenya) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3">
                {{ form_row(form.correu) }}
            </div>
            <div class="col-md-4 mt-3">
                {{ form_row(form.rols) }}
            </div>
        </div>

        <button type="submit" class="btn btn-success mt-3">Guardar</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
