{% extends 'base_back.html.twig' %}

{% block title %}Detalls de l'Usuari{% endblock %}

{% block body %}
    <h1>Detalls de l'Usuari</h1>

    <table class="table">
        <tr>
            <th>ID</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Cognom</th>
            <td>{{ user.cognom }}</td>
        </tr>
        <tr>
            <th>Nom d'Usuari</th>
            <td>{{ user.nom_usuari }}</td>
        </tr>
        <tr>
            <th>Rol</th>
            <td>{{ user.rols[0] == 'admin' ? 'Administrador' : 'Treballador' }}</td>
        </tr>
    </table>

    <a href="{{ path('app_usuaris_index') }}" class="btn btn-primary">Tornar a la llista</a>
{% endblock %}
