{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="container">
    <div class="row">
        <div class="col-6 mb-5">
            {{ form_row(form.nom_usuari, {'label': 'Nombre de usuario'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.contrasenya, {'label': 'Contraseña'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.nom, {'label': 'Nombre'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.cognom, {'label': 'Apellido'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.correu, {'label': 'Correo'}) }}
        </div>
        <div class="col-6 mb-5">
            {{ form_row(form.rols, {'label': 'Rol'}) }}
        </div>
    </div>
</div>
    {{ form_widget(form) }}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <a class="btn btn-rosa" href="{{ path('app_user_index') }}">Volver</a>
                <button class="btn btn-outline-success">{{ button_label|default('Actualizar') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
