{% extends 'base_back.html.twig' %}

{% block title %}Gestionar usuarios{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h2 class=" fs-3 py-5">Lista de usuarios</h2>
            </div>
        </div>
    </div>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ path('app_user_new') }}" class="btn btn-blau"><i class="bi bi-plus-square"></i> Añadir usuario</a>
                    <form method="get" role="search" class="d-flex">
                        <input type="search" class="form-control rounded-start-pill" name="q"
                               aria-label="Search" placeholder="Bucar título...">
                        <button type="submit" class="btn btn-rosa rounded-end-pill"><i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-hover text-center">
                    <thead class="table-danger">
                    <tr>
                        <th class="d-none">Id</th>
                        <th class="d-none">Nombre de usuario</th>
                        <th class="d-none">Contrasenya</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Roles</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        {% if 'ROLE_ADMIN' in user.rols or 'ROLE_TREBALLADOR' in user.rols %}
                            <tr>
                                <td class="d-none">{{ user.id }}</td>
                                <td class="d-none">{{ user.nomUsuari }}</td>
                                <td class="d-none">{{ user.contrasenya }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.cognom }}</td>
                                <td>{{ user.correu }}</td>
                                <td>{{ user.rols ? user.rols|join(', ') : '' }}</td>
                                <td class="d-flex">
                                    <a class="btn btn-success me-1" href="{{ path('app_user_show', {'id': user.id}) }}"><i
                                                class="bi bi-eye"></i></a>
                                    <a class="btn btn-primary me-1" href="{{ path('app_user_edit', {'id': user.id}) }}"><i
                                                class="bi bi-pencil-square"></i></a>
                                    {{ include('user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center py-5">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
