{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_usuari</th>
                <th>Contrasenya</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Correu</th>
                <th>Rols</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nomUsuari }}</td>
                <td>{{ user.contrasenya }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.cognom }}</td>
                <td>{{ user.correu }}</td>
                <td>{{ user.rols ? user.rols|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
